<%= form_for(@provider) do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <table>
      <tr>
        <td>
          <strong>Nit(*):</strong>
        </td>
        <td>
          <strong>Nombre(*):</strong>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.number_field :nit %>
        </td>
        <td>
          <%= f.text_field :nombre %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Departamento(*):</strong>
        </td>
        <td>
          <strong>Ciudad(*):</strong>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.text_field :departamento %>
        </td>
        <td>
          <%= f.text_field :ciudad %>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Teléfono(*):</strong>
        </td>
        <td>
          <strong>Dirección(*):</strong>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.number_field :telefono %>
        </td>
        <td>
          <%= f.text_field :direccion %>
        </td>
      </tr>
    </table>
  </div>

  <div class="actions">
    <%= f.submit "Guardar"%>
  </div>
<% end %>
