<% flash.each do |name,msg| %>
    <ul>
      <li>
        <%= msg %>
      </li>
    </ul>
    <% end %>
<header id="header">

  <div class="innertube">
    <br>
    <%= image_tag "logo.png", :alt => "Logo", :title => "Logo", :width => "280px", :height => "80px" %>
  </div>

  <nav class="link">
  <% if logged_in? %>
    <ul>
      <li class="colorLetra"><td><%= link_to image_tag('venta.png', title: 'venta', :width => "50px", :height => "50px" ), societies_path %><br><center>Venta </center> </td></li>
      <li class="colorLetra"><td><%= link_to image_tag('socio.png', title: 'sociedades', :width => "50px", :height => "50px" ), menuSociedades_path %><br><center>Sociedades</center> </td></li>
      <li class="colorLetra"><td><%= link_to image_tag('cursos.jpg', title: 'cursos', :width => "50px", :height => "50px" ), products_path %><br><center>Cursos</center> </td></li>
      <% if current_user.admin?%>
      <li><%= link_to "Users", users_path%></li>
      <% end %>
      <li class="colorLetra"><td><%= link_to image_tag('productos.png', title: 'productos', :width => "60px", :height => "50px" ), products_path  %><br><center>Productos</center> </td></li>
      <li class="colorLetra"><td><%= link_to image_tag('donar.png', title: 'donación', :width => "50px", :height => "50px" ), menuSociedades_path %><br><center>Donaciones</center> </td></li>
      <li class="colorLetra"><td><%= link_to image_tag('clientes.png', title: 'clientes', :width => "50px", :height => "50px" ), clients_path %><br><center>Clientes</center> </td></li>
      <li class="colorLetra"><td><%= link_to image_tag('reporte.png', title: 'reporte', :width => "50px", :height => "50px" ), reportes_path %><br><center>Reportes</center> </td></li>
      <li class="colorLetra"><td><%= link_to image_tag('categoria.png', title: 'categorías', :width => "50px", :height => "50px" ), categories_path %><br><center>Categorías</center> </td></li>
      <li class="colorLetra"><td><%= link_to image_tag('gastos.png', title: 'egresos', :width => "50px", :height => "50px" ), outflows_path %><br><center>Egresos</center> </td></li>

       <ul class="nav navbar-nav navbar-right">


          <li><%= link_to 'Log out', logout_path, method: :delete %></li>
          <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tu perfil <%= "Admin" if current_user.admin? %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Edita tu  perfil", edit_user_path(current_user)%></li>
            <li><%= link_to "Ver el perfil", user_path(current_user)%></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        <% else %>
          <li><%= link_to 'Log in', login_path %></li>
        </ul>
<% end %>
    </ul>
  </nav>
</header>
